*filter
:ufw6-user-input - [0:0]
:ufw6-user-output - [0:0]
:ufw6-user-forward - [0:0]
### RULES ###

### tuple ### allow tcp 22 ::/0 ::/0 in
-A ufw6-user-input -p tcp --dport 22 -j ACCEPT

### tuple ### allow tcp 80 ::/0 ::/0 in
-A ufw6-user-input -p tcp --dport 80 -j ACCEPT

COMMIT
